---
import CustomSection from "@components/ui/CustomSection.astro";
import mentoriaGrupal from "@assets/mentoria-grupald-descubri-tu-esencia.png";
import { Image } from "astro:assets";

interface Props {
    colorSection?: "negro" | "blanco";
    title: string;
    description: string;
    videoUrl: string;
}
const { title, description, videoUrl, colorSection = "blanco" } = Astro.props;
---

<CustomSection color={colorSection}>
    <div
        class="container px-0 flex flex-col md:flex-row justify-between items-start gap-5"
    >
        <div class="flex justify-start flex-col gap-4 max-w-3xl">
            <h2 class="text-left">{title}</h2>
            <p class="text-left">
                {description}
            </p>
        </div>
        <div class="max-w-xl">
            <!-- <video preload="metadata" controls>
                <source src={videoUrl} type="video/mp4" />
                 Your browser does not support the video tag.
                <source src={videoUrl} type="video/webm" />
            </video> -->
            <Image
                alt={"mentoria-grupald-descubri-tu-esencia"}
                src={mentoriaGrupal}
                height={324}
                format="webp"
            />
        </div>
    </div>
</CustomSection>
