---
import CustomSection from "@components/ui/CustomSection.astro";
import mentoriaGrupal from "@assets/mentoria-grupald-descubri-tu-esencia.png";
import { Image } from "astro:assets";
import { Button } from "@components/ui/button";

interface Props {
    colorSection?: "negro" | "blanco";
    title: string;
    description: string;
    videoUrl?: string;
}
const { title, description, videoUrl, colorSection = "blanco" } = Astro.props;
---

<CustomSection color={colorSection}>
    <div
        class="container h-full px-0 flex flex-col w-full justify-center xl:flex-row items-center md:items-start gap-20"
    >
        <div class="flex justify-start flex-col gap-4 xl:max-w-lg">
            <h2 class="text-left">{title}</h2>
            <p class="text-left">
                {description}
            </p>
        </div>
        <div class="w-full h-full">
            <div class="w-full relative grow h-full">
                {
                    videoUrl ? (
                        <iframe
                            allowfullscreen
                            class="w-full h-auto min-[340px]:h-64 md:h-[500px] "
                            scrolling="no"
                            src={videoUrl}
                        >
                            {" "}
                        </iframe>
                    ) : (
                        <Image
                            alt={"mentoria-grupald-descubri-tu-esencia"}
                            src={mentoriaGrupal}
                            class="w-full"
                            format="webp"
                        />
                    )
                }
            </div>
        </div>
    </div>
    <slot />
</CustomSection>
