---
import "@fontsource/poppins";
import "@styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
	slug?: string;
}
const { title, description, slug } = Astro.props;
import melinaPortrait from "@assets/Melina-batalla.png";

import { slide, ViewTransitions } from "astro:transitions";
import LessonsList from "@components/root-program/LessonsList.astro";

import SideBarHeader from "./root-program/SideBarHeader.astro";
import SideBarFooter from "./root-program/SideBarFooter.astro";
import NavBar from "./root-program/NavBar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<meta property="og:locale" content="es_ES" />

		<meta
			property="og:image"
			content={"https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png"}
		/>
		<SEO
			title={(title as string) || "Melina Battalla"}
			description={(description as string) || "Melina Battalla"}
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					title: (title as string) || "Melina Battalla",
					image: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					type: "website",
				},

				image: {
					secureUrl:
						"https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					url: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					alt: "Melina Battalla",
					width: melinaPortrait.width,
					height: melinaPortrait.height,
				},
			}}
		/>
		<meta property="og:url" content="https://www.example.com/webpage/" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="twitter:site" content="summary_large_image" />

		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/MBlogo.svg" />
		<meta name="title" property="og:title" content={title} />
		<title>{title}</title>
		<ViewTransitions />
	</head>

	<body id="parent" class="bg-marmol w-full">
		<div class="w-full h-full min-h-screen">
			<div class="flex w-full">
				<div
					class="w-full h-screen max-w-64 hidden md:flex flex-col items-start justify-between "
					id="sideBar"
				>
					<div class="flex flex-col gap-4">
						<SideBarHeader />

						<LessonsList />
					</div>

					<SideBarFooter />
				</div>
				<div
					transition:animate="slide"
					class="bg-marmol w-full min-h-screen h-full md:rounded-l-[3rem]"
				>
					<nav class="md:hidden bg-marmol px-1 py-1">
						<NavBar />
					</nav>

					<slot />
				</div>
			</div>
		</div>
		<script>
			import { initializeClerk } from "../../lib/clerk";
			initializeClerk();
		</script>
		<script>
			import { $lessonsatom } from "@lib/bonusStore";

			document.addEventListener("astro:before-preparation", (ev) => {

				const lessons = $lessonsatom.get();
				const fromLessonSlug = ev.from.pathname.split("/").pop();
				const toLessonSlug = ev.to.pathname.split("/").pop();

				const fromLesson = lessons.find(
					(lesson) => lesson.slug === fromLessonSlug,
				);
				const toLesson = lessons.find(
					(lesson) => lesson.slug === toLessonSlug,
				);
				if (!!fromLesson && !!toLesson && fromLesson.id > toLesson.id) {
					ev.direction = "back";
				}
				ev.loader();
			});
		</script>
	</body>
</html>
