---
import Nav from "@components/nav/Nav.astro";
import Footer from "@components/Footer.astro";
import "@fontsource/poppins";
import "@styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
	lessons?: ILesson[];
}
const { title, description, image } = Astro.props;
import melinaPortrait from "@assets/Melina-batalla.png";
import nazaPortrait from "@assets/root-program/naza-root-program.png";

import CoursesNav from "@components/nav/CoursesNav.astro";
import { ViewTransitions } from "astro:transitions";
import LessonsList from "@components/root-program/LessonsList.astro";
import type { ILesson } from "db/types";
import { Lesson } from "astro:db";
import { db } from "astro:db";
import { eq } from "astro:db";
import { Image } from "astro:assets";
import { CardTitle } from "@components/ui/card";
import { Button } from "@components/ui/button";
import { InstagramIcon, PlusIcon } from "lucide-react";
import { Separator } from "@components/ui/separator";
import ProfileDropdown from "@components/auth/ProfileDropdown";

const { CourseSlug } = Astro.params;

const lessons = await db
	.select()
	.from(Lesson)
	.where(eq(Lesson.courseSlug, CourseSlug as string));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<meta property="og:locale" content="es_ES" />

		<meta
			property="og:image"
			content={"https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png"}
		/>
		<SEO
			title={(title as string) || "Melina Battalla"}
			description={(description as string) || "Melina Battalla"}
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					title: (title as string) || "Melina Battalla",
					image: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					type: "website",
				},

				image: {
					secureUrl:
						"https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					url: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1701555003/msv95a48pc0climvtpfl.png",
					alt: "Melina Battalla",
					width: melinaPortrait.width,
					height: melinaPortrait.height,
				},
			}}
		/>
		<meta property="og:url" content="https://www.example.com/webpage/" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="twitter:site" content="summary_large_image" />

		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/MBlogo.svg" />
		<meta name="title" property="og:title" content={title} />
		<title>{title}</title>
		<ViewTransitions />
	</head>

	<body class="bg-marmol w-full">
		<div class="w-full h-full min-h-screen">
			<div class="flex w-full">
				<div
					class="w-full max-w-64 hidden md:flex flex-col items-start justify-between gap-12"
					id="sideBar"
				>
					<div class="flex flex-col gap-4">
						<div
							class="flex flex-col items-start w-full gap-2 p-6 pb-0"
						>
							<a href="/cursos/root-program" class="w-full">
								<Image
									alt={"Nazarena Batalla en un retrato de estudio."}
									src={nazaPortrait}
									width={100}
									format="webp"
									class={"rounded-full cursor-pointer w-20 h-20 shadow-lg"}
								/>
							</a>
							<CardTitle
								className="text-left text-xl leading-6 pb-3"
							>
								Nazarena Batalla Mentora de Emprendedoras
							</CardTitle>
							<Button
								className=" px-6  h-14 bg-blanco group rounded-lg hover:scale-105 transition-transform  border-l-8  border-primary hover:bg-blanco flex justify-between w-full max-w-52 shadow-lg"
							>
								<span class="text-left leading-5 text-xl"
									>Agendar Sesion</span
								>
								<PlusIcon
									className="bg-primary  rounded-full p-2 w-10 h-10 	stroke-negro shadow-2xl shadow-green-700	"
								/>
							</Button>
							<Separator className="bg-negro/20 mt-4 px-6" />
						</div>

						<LessonsList lessons={lessons} />
					</div>
					<footer class="flex flex-col p-6">
						<ProfileDropdown
							transition:persist
							client:only="react"
						/>
						<span
							class="inline-flex gap-2 my-2 underline cursor-pointer"
							><InstagramIcon />@nazarenabatalla
						</span>
						<Separator className="bg-negro/20 my-2" />
						<span class="inline-flex gap-2 text-sm">
							© 2024 Nazarena Batalla™
						</span>
						<span class="block text-sm">
							All Rights Reserved. &nbsp;
						</span>

						<!-- <SignedIn>

							<UserButton />
						</SignedIn> -->
					</footer>
				</div>
				<div
					transition:animate="slide"
					class="bg-blanco w-full min-h-screen h-full rounded-l-[3rem]"
				>
					<slot />
				</div>
			</div>
		</div>
		<script>
			import { initializeClerk } from "../../lib/clerk";
			initializeClerk();
		</script>
	</body>
</html>
