---
import Nav from "@components/nav/Nav.astro";
import Footer from "@components/Footer.astro";
import "@fontsource/poppins";
import "@styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, description, image } = Astro.props;
import melinaPortrait from "@assets/Melina-batalla.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<meta property="og:locale" content="es_ES" />
		<SpeedInsights />

		<meta
			property="og:image"
			content={"https://res.cloudinary.com/dozjn0kxw/image/upload/v1711717551/nazarenabatalla.png"}
		/>
		<SEO
			title={(title as string) || "Nazarena Battalla"}
			description={(description as string) || "Nazarena Battalla"}
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					title: (title as string) || "Nazarena Battalla",
					image: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1711717551/nazarenabatalla.png",
					type: "website",
				},

				image: {
					secureUrl:
						"https://res.cloudinary.com/dozjn0kxw/image/upload/v1711717551/nazarenabatalla.png",
					url: "https://res.cloudinary.com/dozjn0kxw/image/upload/v1711717551/nazarenabatalla.png",
					alt: "Melina Battalla",
					width: melinaPortrait.width,
					height: melinaPortrait.height,
				},
			}}
		/>
		<meta
			property="og:url"
			content="https://melinabatalla.com/root-program"
		/>
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="twitter:site" content="summary_large_image" />

		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/MBlogo.svg" />
		<link
			rel="preload"
			href="https://player-vz-c8120ef3-31f.tv.pandavideo.com.br/embed/css/styles.css"
			as="style"
		/>
		<link
			rel="prerender"
			href="https://player-vz-c8120ef3-31f.tv.pandavideo.com.br/embed/?v=05c02b32-7443-4047-8b82-a33bddfce763"
		/>
		<link
			rel="preload"
			href="https://player-vz-c8120ef3-31f.tv.pandavideo.com.br/embed/js/hls.js"
			as="script"
		/>
		<link
			rel="preload"
			href="https://player-vz-c8120ef3-31f.tv.pandavideo.com.br/embed/js/plyr.polyfilled.min.js"
			as="script"
		/>
		<link
			rel="preload"
			href="https://config.tv.pandavideo.com.br/vz-c8120ef3-31f/05c02b32-7443-4047-8b82-a33bddfce763.json"
			as="fetch"
		/>
		<link
			rel="preload"
			href="https://config.tv.pandavideo.com.br/vz-c8120ef3-31f/config.json"
			as="fetch"
		/>
		<link
			rel="preload"
			href="https://b-vz-c8120ef3-31f.tv.pandavideo.com.br/05c02b32-7443-4047-8b82-a33bddfce763/playlist.m3u8"
			as="fetch"
		/>
		<link
			rel="dns-prefetch"
			href="https://b-vz-c8120ef3-31f.tv.pandavideo.com.br"
		/>
		<link
			rel="dns-prefetch"
			href="https://player-vz-c8120ef3-31f.tv.pandavideo.com.br"
		/>
		<link rel="dns-prefetch" href="https://vz-c8120ef3-31f.b-cdn.net" />
		<meta name="title" property="og:title" content={title} />
		<title>{title}</title>
	</head>

	<body class="bg-blanco w-full">
		<div class="w-full h-full min-h-svh justify-between flex flex-col">
			<slot />
			<Footer />
		</div>
		<!-- Start of Provely Notification Display Code -->
		<script is:inline>
			(function (w, n) {
				if (typeof w[n] == "undefined") {
					w[n] = [];
					w.provelySet = function () {
						w[n].push(arguments);
					};
					d = document.createElement("script");
					d.type = "text/javascript";
					d.defer = 1;
					d.charset = "UTF-8";
					d.src =
						"https://provely-public.s3.amazonaws.com/scripts/provely-widget.js?version=1.0";
					x = document.getElementsByTagName("script")[0];
					x.parentNode.insertBefore(d, x);
				}
			})(window, "provelyObj");
			provelySet(
				"config",
				"uuid",
				"26222b1e-e9e8-451f-b906-9616d7f6bc57",
			);
			provelySet("config", "type", "notification");
		</script>

	</body>
</html>
