---
import Nav from "@components/nav/Nav.astro";
import Footer from "@components/Footer.astro";
import "@fontsource/poppins";
import "@styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}
const { title, description, image } = Astro.props;
import melinaPortrait from "@assets/Melina-batalla.png";
const canonicalURL = Astro.url.pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			property="og:description"
			content={description}
		/>
		<link rel="canonical" href={canonicalURL} />
		<meta property="og:image" content={melinaPortrait.src} />
		<SEO
			title={(title as string) || "Melina Battalla"}
			description={(description as string) || "Melina Battalla"}
			openGraph={{
				basic: {
					title: (title as string) || "Melina Battalla",
					image: "https://melinabatalla.com/_astro/Melina-batalla.b9244732_1rrRnN.webp",
					type: "website",
				},
				image: {
					secureUrl:
						"https://melinabatalla.com/_astro/Melina-batalla.b9244732_1rrRnN.webp",
					url: "https://melinabatalla.com/_astro/Melina-batalla.b9244732_1rrRnN.webp",
					alt: "Melina Battalla",
					width: melinaPortrait.width,
					height: melinaPortrait.height,
				},
			}}
		/>
		<meta property="og:url" content="https://www.example.com/webpage/" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="twitter:site" content="summary_large_image" />
		<meta property="og:image" content="/alquimista.jpg" />

		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/MBlogo.svg" />
		<meta name="title" property="og:title" content={title} />
		<title>{title}</title>
	</head>

	<body class="h-screen bg-blanco">
		<main class="w-full">
			<body>
				<slot />
			</body>
			<Footer />
		</main>
	</body>
</html>
